* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.calculator {
  width: 250px;
  height: 300px;
  border: 2px solid #4cbb17;
  margin: 100px auto 0;
  text-align: center;
  background-color: yellowgreen;
  box-shadow: 0 0 30px grey;
  border-radius: 10%;
}

.calc__form {
  height: 100%;
  padding: 20px;
}

.calc__row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.calc__display {
  margin: 0 0 20px;
  width: 100%;
  border: 1px solid #4cbb17;
  padding: 8px 2px;
  text-align: right;
  font: 700 16px/1 Arial, sans-serif;
  color: darkslateblue;
  background-color: #dbffdc;
  border-radius: 6px;
}
.calc__display:focus {
  background-color: white;
  transition: 1s linear;
  filter: opacity(90%);
  outline: 0;
}

.calc__key {
  width: 41px;
  height: 35px;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  text-transform: uppercase;
  background-color: #c2fad1;
  border-radius: 20%;
  outline: 0;
}
.calculate {
  background-color: #f3db9a;
}

.calc__key--equal {
  width: 98px;
}

.calc__key:hover {
  background-color: yellow;
  font-weight: 700;
}
.calc__key:active {
  box-shadow: inset 0 2px 7px #919191;
}
