.contain {
    position: relative;
    width: 500px;
    left: calc(50% - 250px);
    top: 130px;
}
.border {
    border: solid 1px grey;
    border-radius: 5px;
}
.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: grey;
}
.list {

}
.control {
    height: 30px;
    display: none;
}
.input {
    height: 50px;
    display: flex;
}
.input > *{
    height: 50px;
}
.approve, .delete {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 25px;
    display: flex;
    align-items: center;
}
input {
    font-size: 25px;
    position: relative;
    border: none;
}
.button {
    width: 30px;
    height: 30px;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 50%;
}